body {
    background-color: #121212;
    color: #d4ffd6;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background: #1e1e1e;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(100, 255, 150, 0.2);
}

h1 {
    text-align: center;
    color: #aaffaa;
    margin-bottom: 10px;
}

.container i {
    display: block;
    text-align: center;
    color: #8aff9c;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.row label {
    flex: 1;
}

.row.single label {
    flex: 0 0 calc(50% - 10px);
}

label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4ffc4;
    gap: 6px;
    font-weight: 500;
}

label input {
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #4cff8a;
    border-radius: 8px;
    background: #222;
    color: #e6ffe6;
    transition: border-color 0.3s, background 0.3s;
    max-width: 180px;
}

input:focus {
    outline: none;
    border-color: #80ffaa;
    background: #2a2a2a;
}

.input-unit {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
}

.unit {
    color: #80ffaa;
    font-size: 0.9rem;
    margin-left: 4px;
}

label select {
    flex: 1;
    padding: 8px;
    border: 1px solid #4cff8a;
    border-radius: 8px;
    background: #222;
    color: #e6ffe6;
    transition: border-color 0.3s, background 0.3s;
    max-width: 202px;
    background-position: right 10px center;
    background-size: 14px;
}

label select:focus {
    outline: none;
    border-color: #80ffaa;
    background: #2a2a2a;
}

button {
    background-color: #3cbf66;
    color: #121212;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    align-self: center;
    width: 50%;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #56d57f;
    transform: scale(1.03);
}

#result {
    margin-top: 25px;
    text-align: center;
    background: #1a331f;
    padding: 15px;
    border-radius: 10px;
    color: #b8ffb8;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px solid #4cff8a;
}


@media (max-width: 660px) {
    .row {
        flex-direction: column;
        gap: 10px;
    }

    label select {
        width: 50%;
        max-width: 402px;
    }

    label input {
        width: 50%;
        max-width: 380px;
    }

    .input-unit {
        width: 100%;
        justify-content: flex-end;
    }

    .input-unit input {
        flex: 1;
        width: 100%;
        max-width: 380px;
    }
}